:root {
    --header-height: 56px;
}
body {
    padding-top: var(--header-height);
    transition: background-color .4s linear, color .4s linear;
}
[data-app-header] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.catalog-page__search,
.catalog-page__filters {
    top: calc(var(--header-height) + .25rem);
}
.course-detail__info,
.lesson-page__sidebar {
    top: calc(var(--header-height) + .5rem);
}
.lesson-page__sidebar {
    max-height: calc(100vh - var(--header-height) - 2rem);
}

.rating-star {
    color: #0d6efd;
}

[data-bs-theme="dark"] {
    .link-primary {
        color: #36d6ef !important;
    }

    .link-primary:hover,
    .link-primary:focus {
        color: #00fdd7 !important;
    }


    .btn-outline-primary {
        --bs-btn-color: #36d6ef;
        --bs-btn-border-color: #36d6ef;

        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: #36d6ef;
        --bs-btn-hover-border-color: #36d6ef;

        --bs-btn-active-color: black;
        --bs-btn-active-bg: #36d6ef;
        --bs-btn-active-border-color: #36d6ef;
    }

    .btn-outline-success {
        --bs-btn-color: #23d681;
        --bs-btn-border-color: #23d681;

        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: #23d681;
        --bs-btn-hover-border-color: #23d681;

        --bs-btn-active-color: black;
        --bs-btn-active-bg: #23d681;
        --bs-btn-active-border-color: #23d681;
    }

    .btn-outline-dark, .btn-outline-secondary {
        --bs-btn-color: white;
        --bs-btn-border-color: white;

        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: white;
        --bs-btn-hover-border-color: black;

        --bs-btn-active-color: black;
        --bs-btn-active-bg: white;
        --bs-btn-active-border-color: black;
    }
}
